Binaries
DerivedDataCache
Intermediate
Saved
Lol
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcodeproj
*.xcworkspace
Saved/SaveGames/Save File 1.sav
Saved/Logs/ScrapYardMonkeys-backup-2021.10.31-22.59.25.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-23.18.51.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.50.38.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.31.39.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.27.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-15.33.16.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.28-12.16.09.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-12.09.01.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-11.13.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.26-12.03.54.log
Saved/Config/Windows/Input.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Editor.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EB300343453CF81A59CC13B227023B36/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-9BE46535453CD4424B1A86A843FEACDE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-99ACB72F4305052C896AE79844453A0F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-8C336A294C6C4098E6C913BBBBDFFFFA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-68220A1743FEFC8F00B5D7A78DE90991/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5F2B313640A191CEB4C4A68E0662BCE0/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-266DAD26495184D53E6770B6C0963236/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto9.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto5.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto4.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto3.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto6.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Audio_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/SideScrollingCharacter_Base1_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Map_Auto7.umap
Saved/Autosaves/Game/Level/Level_Auto1.umap
Saved/SaveGames/Save File 1.sav
Saved/Logs/ScrapYardMonkeys-backup-2021.10.31-22.59.25.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-23.18.51.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.50.38.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.31.39.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.27.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-15.33.16.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.28-12.16.09.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-12.09.01.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-11.13.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.26-12.03.54.log
Saved/Config/Windows/Input.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Editor.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EB300343453CF81A59CC13B227023B36/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-9BE46535453CD4424B1A86A843FEACDE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-99ACB72F4305052C896AE79844453A0F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-8C336A294C6C4098E6C913BBBBDFFFFA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-68220A1743FEFC8F00B5D7A78DE90991/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5F2B313640A191CEB4C4A68E0662BCE0/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-266DAD26495184D53E6770B6C0963236/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto9.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto5.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto4.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto3.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto6.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Audio_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/SideScrollingCharacter_Base1_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Map_Auto7.umap
Saved/Autosaves/Game/Level/Level_Auto1.umap
Saved/SaveGames/Save File 1.sav
Saved/Logs/ScrapYardMonkeys-backup-2021.10.31-22.59.25.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-23.18.51.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.50.38.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.31.39.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.27.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-15.33.16.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.28-12.16.09.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-12.09.01.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-11.13.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.26-12.03.54.log
Saved/Config/Windows/Input.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Editor.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EB300343453CF81A59CC13B227023B36/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-9BE46535453CD4424B1A86A843FEACDE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-99ACB72F4305052C896AE79844453A0F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-8C336A294C6C4098E6C913BBBBDFFFFA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-68220A1743FEFC8F00B5D7A78DE90991/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5F2B313640A191CEB4C4A68E0662BCE0/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-266DAD26495184D53E6770B6C0963236/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto9.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto5.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto4.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto3.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto6.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Audio_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/SideScrollingCharacter_Base1_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Map_Auto7.umap
Saved/Autosaves/Game/Level/Level_Auto1.umap
Saved/SaveGames/Save File 1.sav
Saved/Logs/ScrapYardMonkeys-backup-2021.10.31-22.59.25.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-23.18.51.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.50.38.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.31.39.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.27.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-15.33.16.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.28-12.16.09.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-12.09.01.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.27-11.13.41.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.26-12.03.54.log
Saved/Config/Windows/Input.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Editor.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EB300343453CF81A59CC13B227023B36/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-9BE46535453CD4424B1A86A843FEACDE/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-99ACB72F4305052C896AE79844453A0F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-8C336A294C6C4098E6C913BBBBDFFFFA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-68220A1743FEFC8F00B5D7A78DE90991/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5F2B313640A191CEB4C4A68E0662BCE0/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-266DAD26495184D53E6770B6C0963236/CrashReportClient.ini
Saved/AutoScreenshot.png
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto9.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto5.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto4.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto3.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Options_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto6.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto2.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Graphics_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Options/Audio_Screen_Ui_Bp_Auto0.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/SideScrollingCharacter_Base1_Auto1.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto8.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Ui_Auto7.uasset
Saved/Autosaves/Game/Userinterface/Ui/Main_Menu/Ui/Main_Menu/Main_Menu_Map_Auto7.umap
Saved/Autosaves/Game/Level/Level_Auto1.umap
Saved/Logs/ScrapYardMonkeys.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-23.18.51.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.50.38.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.31.39.log
Saved/Logs/ScrapYardMonkeys-backup-2021.10.29-20.27.41.log
Saved/Config/Windows/Engine.ini
Saved/Autosaves/PackageRestoreData.json
